.page.about {
    display: flex;
    justify-content: center;
    align-items: center;

    .about-container {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 35px;   
    
        img {
            width: 500px;
        }

        p {
            text-align: justify;
            white-space: pre-wrap;
            max-width: 500px;
        }
    }
}