.page.gallery {
    top: 35px;
    position: absolute;

    .gallery-photos-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 500px;
        margin: 0 auto;

        @media screen and(max-width: 1000px) {
            width: 90%;
        }

        img {
            width: 100%;
            height: auto;
            margin-top: 15px;
        }
    }
}