.menu {
    z-index: 2;
    font-family: "Roboto";
    font-size: 18px;
    position: fixed;
    left: 35px;
    top: 35px;
    font-weight: 300;

    a {
        color: #0B132B;
        line-height: 35px;
        text-decoration: none;
        &.active {
            font-weight: 400;
            opacity: 1!important;
            pointer-events: none;
        }
        transition: all 0.2s;
        &:hover {
            opacity: 0.68;
        }
        
    }
    ul {
        list-style: none;
        padding-left: 0;
        margin: 15px 0;
        // text-transform: lowercase;
        li {
            margin: 0;
        }
    }
}