.logo {
    background-image: url('../../assets/AJKiona.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    top: 50px;
    position: absolute;
    width: 100%;
    display: flex;
}   