.galleries {
    position: absolute;
    top: 50px;
    left: 55px;
    height: auto!important;
    padding-top: 0!important;

    .galleries-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 80%;
        max-width: 1600px;
        animation: opacity 1s slide-in;

        @media screen and (max-width: 550px) {
            width: 95%;
            .gallery-container {
                width: 350px;
                height: 350px;
            }
        }
    }
}
