.gallery-container {
    width: 400px;
    height: 400px;
    margin: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .gallery {
        width: 500px;
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: white;
    
        cursor: pointer;
        
        transition: all 700ms;
        &:hover {
            transform: scale(1.03);
        }
    }
    p {
        text-transform: uppercase;
        font-size: 3.5em;
        font-family: 'BebasNeue';
        position: absolute;
        padding: 0;
        margin: 0;
        color: white;

        pointer-events: none;
    }
}
